.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.editor {
  width: 360px;
  height: 200px;
  background-color: #fafafa;
  margin: 20px;
}

.output {
  width: 360px;
  height: 200px;
  background-color: #fafafa;
  margin: 20px;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  overflow-wrap: break-word; 
}