.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
}

.main {
  padding: 5rem 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.title {
  width: 360px;
  min-height: 100px;
  margin: 20px;
  font-size: 4em;
  font-weight: 800;
}

.info {
  width: 360px;
  min-height: 100px;
  margin: 20px;
  font-size: 1em;
  line-height: 1.4em;
}

.leadout {
  font-size: 0.75em;;
}

.iconGithub {
  width: 2.5em;
  height: 2.5em;
}

.iconPath {
  fill: var(--icon-fill);
}

.codeArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


.output {
}

.footer {
  padding-bottom: 1em;
}

.themeButton {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 18px;
  
  cursor: pointer;
}

.themeButton:focus {
  outline: none;
}


@media (max-width: 540px) {
  
  .title {
    width: 340px;
  }
  
  .info {
    width: 340px;
  }
}